Repository MihaiStreames/ghlang: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: [--fix, --unsafe-fixes]
      - id: ruff-format

  - repo: https://github.com/bwhmather/ssort
    rev: 0.16.0
    hooks:
      - id: ssort

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c "cd tokount && cargo fmt --all -- --check"
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-check
        name: cargo check
        entry: bash -c "cd tokount && cargo check"
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd tokount && cargo clippy -- -D warnings"
        language: system
        types: [rust]
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: uv run mypy . --check-untyped-defs
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

update changelog for tokount release and improve language mapping
  CHANGELOG.md
  ghlang/static/lang_mapping.py
Due: mypy

slowly figuring out pypi publishing with rust binary
  .github/workflows/publish-pypi.yml
  .github/workflows/scripts/cibw_before_build.ps1
  .github/workflows/scripts/cibw_before_build.sh
  .github/workflows/scripts/copy_tokount_binary.py
  .github/workflows/scripts/wheel_smoke_test.py
  .pre-commit-config.yaml
  MANIFEST.in
  PKGBUILD
  ghlang/_bin/linux-aarch64/.gitkeep
  ghlang/_bin/linux-x86_64/.gitkeep
  ghlang/_bin/macos-arm64/.gitkeep
  ghlang/_bin/macos-x86_64/.gitkeep
  ghlang/_bin/windows-x86_64/.gitkeep
  ghlang/platforms.py
  ghlang/tokount_client.py
  pyproject.toml
  tokount/src/main.rs
Due: cargo-fmt, cargo-check, cargo-clippy, mypy

i think we're getting there
  .github/workflows/scripts/copy_tokount_binary.py
  .github/workflows/scripts/wheel_smoke_test.py
  ghlang/config.py
  scripts/build_local.sh
  scripts/clean.sh
  scripts/dev_local.sh
Due: mypy

refactoring
  .github/workflows/publish-pypi.yml
  .gitignore
  ghlang/cli/github.py
  ghlang/cli/local.py
  ghlang/cli/utils.py
  ghlang/config.py
  ghlang/static/lang_mapping.py
  ghlang/tokount_client.py
  ghlang/visualizers.py
  pyproject.toml
  scripts/build_local.sh
  scripts/clean.sh
Due: mypy

testing CI via docker
  .github/workflows/publish-pypi.yml
  CHANGELOG.md
  PKGBUILD
  docker/ci_all.sh
  docker/ci_aur.Dockerfile
  docker/ci_aur.sh
  docker/ci_linux.Dockerfile
  docker/ci_linux.sh
  ghlang/build_hooks.py
  pyproject.toml
Due: mypy

small update
  MANIFEST.in
  tokount/Cargo.toml
Due: none

final changelog notes
  CHANGELOG.md
Due: none

remove deprecated workflows and update build scripts for improved packaging and publishing
  .github/workflows/publish-aur.yml
  .github/workflows/publish.yml
  .github/workflows/scripts/cibw_before_build.ps1
  .github/workflows/scripts/cibw_before_build.sh
  .github/workflows/scripts/copy_tokount_binary.py
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  PKGBUILD
  pyproject.toml
Due: mypy

tokount separated, new repo
  .github/workflows/publish.yml
  .github/workflows/scripts/cibw_before_build.ps1
  .github/workflows/scripts/cibw_before_build.sh
  .github/workflows/scripts/copy_tokount_binary.py
  .github/workflows/scripts/update-sha256.sh
  .github/workflows/scripts/wheel_smoke_test.py
  .gitignore
  .pre-commit-config.yaml
  README.md
  docker/ci_all.sh
  docker/ci_aur.Dockerfile
  docker/ci_aur.sh
  docker/ci_linux.Dockerfile
  docker/ci_linux.sh
  ghlang/_bin/linux-aarch64/.gitkeep
  ghlang/_bin/linux-x86_64/.gitkeep
  ghlang/_bin/macos-arm64/.gitkeep
  ghlang/_bin/macos-x86_64/.gitkeep
  ghlang/_bin/windows-x86_64/.gitkeep
  ghlang/build_hooks.py
  ghlang/cli/utils.py
  ghlang/exceptions.py
  ghlang/platforms.py
  ghlang/tokount_client.py
  pyproject.toml
  scripts/build_local.sh
  tokount/Cargo.lock
  tokount/Cargo.toml
  tokount/rustfmt.toml
  tokount/src/main.rs
Due: cargo-fmt, cargo-check, cargo-clippy, mypy

prep for 2.4.0
  .github/workflows/publish.yml
  .github/workflows/scripts/generate-srcinfo.sh
  CHANGELOG.md
  PKGBUILD
  ghlang/__init__.py
  pyproject.toml
  uv.lock
Due: mypy

fix permissions...
  .github/workflows/scripts/extract-changelog.sh
  .github/workflows/scripts/update-sha256.sh
  .github/workflows/scripts/update-version.sh
Due: none

bruh
  .github/workflows/scripts/update-sha256.sh
  .github/workflows/scripts/update-version.sh
Due: none

wow
  CHANGELOG.md
  PKGBUILD
  ghlang/__init__.py
  pyproject.toml
  uv.lock
Due: mypy

im so done with this xd
  .SRCINFO
  .github/workflows/publish.yml
  .gitignore
Due: none

sha update
  .SRCINFO
  PKGBUILD
Due: none

Update README.md
  README.md
Due: none

essential pytests
  .github/workflows/ci.yml
  PKGBUILD
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/fixtures/cpython_languages.json
  tests/fixtures/linux_languages.json
  tests/fixtures/rust_languages.json
  tests/test_config.py
  tests/test_github_client.py
  uv.lock
Due: mypy

codecov
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: none

fix ci
  .github/workflows/ci.yml
Due: none

attempt 2
  .github/workflows/ci.yml
  pyproject.toml
Due: none

sadly we cannot support 3.10
  .github/workflows/ci.yml
  pyproject.toml
Due: none

oops
  pyproject.toml
  uv.lock
Due: none

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Remove issues badge from README
  README.md
Due: none

small test reformats
  tests/conftest.py
  tests/test_config.py
  tests/test_github_client.py
Due: mypy

extract fixtures, cleaner imo
  tests/conftest.py
  tests/fixtures/configs.toml
Due: mypy

configs, imports
  .editorconfig
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/scripts/extract_changelog.sh
  .github/workflows/scripts/update_sha256.sh
  .github/workflows/scripts/update_version.sh
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  .shfmt.toml
  PKGBUILD
  ghlang/cli/__init__.py
  ghlang/cli/__main__.py
  ghlang/cli/github.py
  ghlang/cli/local.py
  ghlang/config.py
  ghlang/github_client.py
  ghlang/themes.py
  ghlang/tokount_client.py
  ghlang/visualizers.py
  pyproject.toml
  uv.lock
Due: mypy

no need for aur publish
  .github/workflows/publish.yml
  .github/workflows/scripts/update_sha256.sh
  .github/workflows/scripts/update_version.sh
  scripts/clean.sh
Due: none

chore(markdownlint): disable MD013 line-length, MD033 inline HTML, MD041 first-line-heading
  .markdownlint.json
Due: none

chore(pkgbuild): update sha256 for v2.4.2
  PKGBUILD
Due: none

chore(pkgbuild): update sha256 for v2.4.3
  PKGBUILD
Due: none

chore: bump version to v2.4.4, update changelog and readme
  .prettierignore
  .prettierrc
  CHANGELOG.md
  PKGBUILD
  README.md
  ghlang/__init__.py
  ghlang/cli/local.py
  ghlang/tokount_client.py
  pyproject.toml
  uv.lock
Due: mypy

chore(pkgbuild): update sha256 for v2.4.4
  PKGBUILD
Due: none

feat(ghlang): v2.4.5 - themes CLI, tokount fixes, test cleanup
  .github/ISSUE_TEMPLATE/config.yml
  .gitignore
  .markdownlint.json
  .markdownlint.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  PKGBUILD
  README.md
  assets/ghlang-icon.svg
  assets/logo-1024x1024.png
  assets/logo-512x512.png
  assets/logo-text-1024x1024.png
  assets/logo-text-512x512.png
  assets/logo-text.svg
  assets/logo.svg
  ghlang/__init__.py
  ghlang/cli/__init__.py
  ghlang/cli/theme.py
  ghlang/cli/utils.py
  ghlang/constants.py
  ghlang/static/lang_mapping.py
  ghlang/tokount_client.py
  ghlang/visualizers.py
  pyproject.toml
  scripts/benchmark_import.py
  tests/conftest.py
  tests/fixtures/custom_themes.json
  tests/fixtures/remote_themes.json
  tests/test_cli_utils.py
  tests/test_config.py
  tests/test_github_client.py
  tests/test_themes.py
  themes/README.md
  uv.lock
Due: mypy

fix(ghlang): restore __future__ annotations in utils.py
  ghlang/cli/utils.py
Due: mypy

feat(ghlang): v2.4.6 - Python 3.10 support
  .github/workflows/ci.yml
  CHANGELOG.md
  PKGBUILD
  ghlang/__init__.py
  ghlang/config.py
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: mypy

refactor(display): split into styles/ (charts) and display/ (rich output)
  ghlang/cli/config.py
  ghlang/cli/local.py
  ghlang/cli/theme.py
  ghlang/cli/utils.py
  ghlang/display/__init__.py
  ghlang/display/config.py
  ghlang/display/themes.py
  ghlang/styles/__init__.py
  ghlang/styles/bar.py
  ghlang/styles/constants.py
  ghlang/styles/pie.py
  ghlang/styles/pixel.py
  ghlang/styles/utils.py
Due: mypy

docs: replace em dashes with hyphens in CHANGELOG
  CHANGELOG.md
Due: none

refactor(ghlang): module restructuring and benchmark scripts
  .gitignore
  CHANGELOG.md
  ghlang/cli/charts.py
  ghlang/cli/config.py
  ghlang/cli/github.py
  ghlang/cli/local.py
  ghlang/cli/utils.py
  ghlang/colors.py
  ghlang/config.py
  ghlang/display/config.py
  ghlang/github_client.py
  ghlang/languages.py
  ghlang/styles/bar.py
  ghlang/styles/pie.py
  ghlang/styles/pixel.py
  ghlang/styles/utils.py
  ghlang/themes.py
  ghlang/tokount_client.py
  scripts/bench_chart.py
  scripts/bench_data.py
  scripts/benchmark.sh
  scripts/clean.sh
  tests/test_github_client.py
Due: mypy

refactor(ghlang): adopt Google/Django module-import convention
  ghlang/cli/__init__.py
  ghlang/cli/charts.py
  ghlang/cli/config.py
  ghlang/cli/github.py
  ghlang/cli/local.py
  ghlang/cli/theme.py
  ghlang/cli/utils.py
  ghlang/colors.py
  ghlang/config.py
  ghlang/github_client.py
  ghlang/languages.py
  ghlang/log.py
  ghlang/styles/bar.py
  ghlang/styles/pie.py
  ghlang/styles/pixel.py
  ghlang/styles/utils.py
  ghlang/themes.py
  ghlang/tokount_client.py
  tests/test_themes.py
Due: mypy
